<div class="newsContainer">
  <div class="newsHeaderContainer">
    <div class="newsTitle"><p>სიახლეები</p></div>
    <div class="newArchiveTitle">
      <p>სიახლეების არქივი</p>
      <div class="archiveArrow">
        <app-svg-icon name="archiveArrow"></app-svg-icon>
      </div>
    </div>
  </div>
  <div class="newsItemsContainer">
    <div class="newsItem rightPadding">
      <div class="newsItemImage">
        <img src="/assets/images/news/haley-lawrence.png" />
      </div>
      <div class="newsItemImageBlur"></div>
      <div class="newsItemFooter">
        <div class="newsItemDateContainer">
          <div class="newsItemOnlyDateNumbers">
            <div class="newsItemMonth"><p>11</p></div>
            <div class="newsItemYear"><p>2021</p></div>
          </div>
          <div class="monthText"><p>ნოემბერი</p></div>
        </div>
        <div class="newsItemTextContainer">
          <div class="newsItemTitle"><p>სიახლე ინტერკლინიკაში!</p></div>
          <div class="newsItemDesc">
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
      <div class="newsItemFooterBackground"></div>
    </div>
    <div class="newsItem rightPadding">
      <div class="newsItemImage">
        <img src="/assets/images/news/christina-wocintechchat.png" />
      </div>
      <div class="newsItemImageBlur"></div>
      <div class="newsItemFooter">
        <div class="newsItemDateContainer">
          <div class="newsItemOnlyDateNumbers">
            <div class="newsItemMonth"><p>24</p></div>
            <div class="newsItemYear"><p>2021</p></div>
          </div>
          <div class="monthText"><p>ნოემბერი</p></div>
        </div>
        <div class="newsItemTextContainer">
          <div class="newsItemTitle">
            <p style="color: #f9981b">სიახლე ინტერკლინიკაში!</p>
          </div>
          <div class="newsItemDesc">
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
      <div class="newsItemFooterBackground"></div>
    </div>
    <div class="newsItem">
      <div class="newsItemImage">
        <img src="/assets/images/news/medicalert-uk.png" />
      </div>
      <div class="newsItemImageBlur"></div>
      <div class="newsItemFooter">
        <div class="newsItemDateContainer">
          <div class="newsItemOnlyDateNumbers">
            <div class="newsItemMonth"><p>18</p></div>
            <div class="newsItemYear"><p>2021</p></div>
          </div>
          <div class="monthText"><p>ნოემბერი</p></div>
        </div>
        <div class="newsItemTextContainer">
          <div class="newsItemTitle"><p>სიახლე ინტერკლინიკაში!</p></div>
          <div class="newsItemDesc">
            <p>ნაციონალური ბიზნეს-რეიტინგების კავშირის“ მიერ, სამედიცინო...</p>
          </div>
        </div>
      </div>
      <div class="newsItemFooterBackground"></div>
    </div>
  </div>
</div>
