<div class="footerContainer">
  <div class="footerLogo"><img src="assets/logos/logo 1.png" /></div>
  <div class="informationContainer">
    <div class="wokringDaysContainer infoDivs">
      <div class="title"><p>სამუშაო დღეები</p></div>
      <div class="titleLine"></div>
      <div class="textContainer">
        <div class="informationText"><p>9:00 - 17:00 სთ</p></div>
        <div class="informationText"><p>შაბ. 10:00 - 15:00</p></div>
      </div>
    </div>
    <div class="addressContainer infoDivs">
      <div class="title"><p>მისამართი</p></div>
      <div class="titleLine"></div>
      <div class="textContainer">
        <div class="informationText"><p>ბაზალეთის ქ. 7</p></div>
        <div class="informationText"><p>ფალიაშვილის ქ. 30</p></div>
      </div>
    </div>
    <div class="phoneContainer infoDivs">
      <div class="title"><p>ტელეფონი</p></div>
      <div class="titleLine"></div>
      <div class="textContainer">
        <div class="informationText"><p>599 50 40 78</p></div>
        <div class="informationText"><p>032 222 11 31</p></div>
      </div>
    </div>
    <div class="mailContainer infoDivs">
      <div class="title"><p>ელ. ფოსტა</p></div>
      <div class="titleLine"></div>
      <div class="textContainer">
        <div class="informationText"><p>interclinicgeo@yahoo.com</p></div>
        <div class="facebookSVG"><app-facebook-svg></app-facebook-svg></div>
      </div>
    </div>
  </div>
  <div class="copyrightContainer"><p>Copyright</p></div>
</div>
