<div class="rulesContainer">
  <div class="rulesImage"><img src="/assets/images/patientRules.png" /></div>
  <div class="rulesImageBlur"></div>
  <div class="rulesImageSemiBlur"></div>
  <div class="rulesInfoContainer">
    <div class="callIconCircle">
      <app-svg-icon name="mobile"></app-svg-icon>
    </div>
    <div class="rulesTitle"><p>პაციენტის მიღების წესები</p></div>
    <div class="rulesDesc">
      <p>
        ინტერკლინიკის სერვისებით სარგებლობისთვის გთხოვთ დაგვიკავშირდეთ ჩვენს
        საკონტაქტო ტელეფონზე და ჩვენი კონსულტანტები დაგეხმარებიან ექიმთან
        ვიზიტის დაგეგმვაში.
      </p>
    </div>
  </div>
</div>
