<div class="partnersContainer">
  <div class="partnersTitle"><p>პარტნიორები</p></div>
  <div class="partnerItemsContainer">
    <div class="partnerItem marginRight">
      <img src="/assets/images/partners/iraoLogo.png" />
    </div>
    <div class="partnerItem marginRight">
      <div class="partnerItemImg">
        <img src="/assets/images/partners/tbcLogo.png" />
      </div>
    </div>
    <div class="partnerItem marginRight">
      <img src="/assets/images/partners/ardiLogo.png" />
    </div>
    <div class="partnerItem">
      <img src="/assets/images/partners/cartuLogo.png" />
    </div>
  </div>
</div>
