<div class="laboratoryContainer">
  <div class="labImageContainer">
    <div class="labImageBackground"></div>
    <div class="labImage labImageBox">
      <img src="assets/images/labImage.png" alt="" />
    </div>
    <div class="labImageBlur labImageBox"></div>
  </div>
  <div class="aboutLabContainer">
    <div class="labTitle"><p>ლაბორატორია</p></div>
    <div class="labTitleLine"></div>
    <div class="ourLabTextContainer labText">
      <p>
        ჩვენი ლაბორატორია ინტერკლინიკის დაარსების დღიდან ფუნქციონირებს და
        აღჭურვილია უახლესი კვლევის აპარატებით. აქ ყველანაირი ლაბორატორიული
        კვლევის ჩატარებაა შესაძლებელი : კლინიკური, ბიოქიმიური, იმუნოფერმენტული,
        ციტოლოგიური და ა.შ.
      </p>
    </div>
    <div class="laborantsTextContainer labText">
      <p>
        ცდომილების შესამცირებლად, დამატებით ჩვენი პროფესიონალი ლაბორანტები
        მიკროსკოპის საშუალებით თვალით ახდენენ დაკვირვებას, რაც სისხლის საერთო
        ანალიზის და სხვა შემთხვევაში ყოველგვარ ცდომილებას გამორიცხავს
      </p>
    </div>
    <div class="laborants">
      <div class="laborantsTitle"><p>ლაბორანტები:</p></div>
      <div class="profiles">
        <div class="profileItem">
          <div class="profileImage">
            <img
              src="/assets/images/profiles/Ketevan_Mchedlishvili.png"
              alt=""
            />
          </div>
          <div class="profileText">
            <p>ქეთევან<br />მჭედლიშვილი</p>
          </div>
        </div>
        <div class="profileItem">
          <div class="profileImage">
            <img src="/assets/images/profiles/Maria_Dateshidze.png" alt="" />
          </div>
          <div class="profileText">
            <p>მარია<br />დათეშიძე</p>
          </div>
        </div>
        <div class="profileItem">
          <div class="profileImage">
            <img src="/assets/images/profiles/Tamar_Kiknadze.png" alt="" />
          </div>
          <div class="profileText">
            <p>თამარ<br />კიკნაძე</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
