.navContainer {
  position: absolute;
  top: 400px;
  left: 251px;
  z-index: 11;
  width: 1420px;
  height: 280px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  overflow: hidden;
}

.circle {
  width: 99px;
  height: 99px;
  margin-left: 120px;
  margin-top: 35px;

  background: #f5f5f5;
  border-radius: 50%;
}

.navItem {
  width: 355px;
  height: 280px;
  float: left;
}

.menuTitle {
  margin-top: 19px;
  text-align: center;
}
.menuTitle p {
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #25508c;
}

.smallLine {
  width: 185px;
  height: 2px;

  background: #f5f5f5;
  margin-top: 14px;
  margin-left: 81px;
}

.menuDescription {
  margin-left: 47px;
  margin-top: 15px;
  width: 262px;
  height: 38px;
  text-align: center;
  font-family: "FiraGO-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  height: 45px;
  color: rgba(19, 42, 75, 0.7);
}

.circle app-svg-icon {
  display: inline-block;
  margin-top: 31px;
  margin-left: 31px;
}

.navItemArrowCricle {
  float: right;
  width: 18px;
  height: 18px;
  overflow: hidden;

  border-radius: 50%;
  background: #ffffff;
}

.navItemArrow app-svg-icon {
  margin-top: 50%;
  margin-left: 50%;
}

.navItem.active {
  background: #f9981b;
  border-radius: 10px;
}
.navItem.active .circle {
  background: #ffffff;
}

.navItem.active .menuTitle p {
  color: #ffffff;
}
.navItem.active .smallLine {
  background: rgba(245, 245, 245, 0.25);
}
.navItem.active .menuDescription {
  color: #ffffff;
}

.navItem.active .navItemArrowCricle {
  background: rgba(255, 255, 255, 0.7);
}

::ng-deep .navItem.active #navItemArrow {
  fill: #25508c;
}
