<div class="navContainer">
  <div class="navItem">
    <div class="circle"><app-svg-icon name="fluentDoct"></app-svg-icon></div>
    <div class="menuTitle"><p>ჩვენი კლინიკა</p></div>
    <div class="smallLine"></div>
    <div class="menuDescription">
      ინტერკლინიკა დაარსდა 2003 წლის 3 სექტემბერს ქ...
      <div class="navItemArrowCricle">
        <app-svg-icon name="navItemArrow"></app-svg-icon>
      </div>
    </div>
  </div>

  <div class="navItem">
    <div class="circle"><app-svg-icon name="home"></app-svg-icon></div>
    <div class="menuTitle"><p>სახლში მომსახურება</p></div>
    <div class="smallLine"></div>
    <div class="menuDescription">
      ულტრაბგერითი კვლევა ეს არის ორგანოების და...
      <div class="navItemArrowCricle">
        <app-svg-icon name="navItemArrow"></app-svg-icon>
      </div>
    </div>
  </div>

  <div class="navItem">
    <div class="circle"><app-svg-icon name="makiDoct"></app-svg-icon></div>
    <div class="menuTitle"><p>ჩვენი ექიმები</p></div>
    <div class="smallLine"></div>
    <div class="menuDescription">
      ინტერკლინიკ ექიმების სიის ნახვა..
      <div class="navItemArrowCricle">
        <app-svg-icon name="navItemArrow"></app-svg-icon>
      </div>
    </div>
  </div>

  <div class="navItem">
    <div class="circle"><app-svg-icon name="service"></app-svg-icon></div>
    <div class="menuTitle"><p>სერვისები</p></div>
    <div class="smallLine"></div>
    <div class="menuDescription">
      ინტერკლინიკაში შესაძლებელია ყველა საჭირო სამედიცინო...
      <div class="navItemArrowCricle">
        <app-svg-icon name="navItemArrow"></app-svg-icon>
      </div>
    </div>
  </div>
</div>
