/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "FiraGO-Regular";
  src: url("assets/fonts/FiraGO-SemiBold.otf");
}
@font-face {
  font-family: "FiraGO-SemiBold";
  src: url("assets/fonts/FiraGO-SemiBold.otf");
}
